# Simple Linear Regression

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
dataset = pd.read_csv(\
r"C:\Users\saura\Desktop\Ongoing\Notes\01.LAB_ass\ML\Machine_Learning_basisc\Data_sets\Housepriceprediction.csv")
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [3]:
dataset

,Id,LotArea,OverallQual,1stFlrSF,GrLivArea,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice
0,1,8450,7,856,1710,8,2,548,208500
1,2,9600,6,1262,1262,6,2,460,181500
2,3,11250,7,920,1786,6,2,608,223500
3,4,9550,7,961,1717,7,3,642,140000
4,5,14260,8,1145,2198,9,3,836,250000
...,...,...,...,...,...,...,...,...,...
1455,1456,7917,6,953,1647,7,2,460,175000
1456,1457,13175,6,2073,2073,7,2,500,210000
1457,1458,9042,7,1188,2340,9,1,252,266500
1458,1459,9717,5,1078,1078,5,1,240,142125
1459,1460,9937,5,1256,1256,6,1,276,147500

In [4]:
y

array([208500, 181500, 223500, ..., 266500, 142125, 147500], dtype=int64)

## Splitting the dataset into the Training set and Test set

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

## Training the Simple Linear Regression model on the Training set

In [6]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

## Predicting the Test set results

In [7]:
y_pred = regressor.predict(X_test)

In [8]:
from sklearn.metrics import mean_squared_error
error = mean_squared_error(y_test, y_pred)

In [9]:
error

2034196191.6684995

In [10]:
regressor.coef_

array([-1.53470952e+00,  6.71106025e-01,  2.57386159e+04,  3.32808619e+01,
        4.47992166e+01, -1.33518686e+03,  6.21920028e+03,  4.50833845e+01])

In [11]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)

In [12]:
r2

0.6918779415227698