Name: Saurabh S. Ramteke                                                       
Roll No: 21-27-19                                                               
M.Tech: Data Science

##### Importing Dependencies

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

##### Importing Dataset

In [2]:
df = pd.read_csv(\
                 r"C:\Users\saura\Desktop\Ongoing\Notes\01.LAB_ass\ML\Machine_Learning_basisc\Data_sets\Housepriceprediction.csv")
df.head()

,Id,LotArea,OverallQual,1stFlrSF,GrLivArea,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice
0,1,8450,7,856,1710,8,2,548,208500
1,2,9600,6,1262,1262,6,2,460,181500
2,3,11250,7,920,1786,6,2,608,223500
3,4,9550,7,961,1717,7,3,642,140000
4,5,14260,8,1145,2198,9,3,836,250000

##### Splitting dataset into training and test

In [6]:
X = df.iloc[ : , 1:3].values
y = df.iloc[ : , -1].values

# X = X.reshape(-1,1)
# y = y.reshape(-1,1)

# print(f"X: {X}\n\ny: {y}")

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)
X_train

array([[ 8777,     5],
       [10800,     4],
       [ 8767,     7],
       ...,
       [ 6882,     6],
       [ 1680,     6],
       [18000,     3]], dtype=int64)

##### Polynomial LR with order of 2

In [7]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(2) # order 2
X_poly = poly.fit_transform(X_train)

from sklearn.linear_model import LinearRegression
poly_reg = LinearRegression()

poly_reg.fit(X_poly,y_train)
y_pred = poly_reg.predict(poly.fit_transform(X_test))

##### R2 score

In [9]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
r2

0.7631388898231353

##### Polynomial LR with order of 2

In [10]:
poly3 = PolynomialFeatures(3) # order 2
X_poly3 = poly3.fit_transform(X_train)

poly_reg3 = LinearRegression()

poly_reg3.fit(X_poly3,y_train)
y_pred3 = poly_reg3.predict(poly3.fit_transform(X_test))

##### R2 Score

In [12]:
r2_order3 = r2_score(y_test, y_pred3)
r2_order3

0.7728851519207002